
.new-argument(data-argument=argument.data())
  form.edit(action="/arguments", method="post")
    h2: b Argument
    h3(title="Repo path")
      span.user #{username} / 
      span.repo #{argument.repo() || placeholder.repo()}
    .title
      label Title
      textarea(name="title", value=argument.title, placeholder=placeholder.title)
        #{argument.title}
    each premise, num in argument.premises
      .premise
        label Premise #{num + 1}
        textarea(name="premises", value=premise.text, placeholder=placeholder.premises[num].text)
          #{premise.text}
        .buttons
          button.addPremise(type="button", title="Add premise") &plus;
          button.removePremise(type="button", title="Remove premise", tabindex="-1") &minus;
    .conclusion
      label Conclusion
      textarea(name="conclusion", value=argument.conclusion.text, placeholder=placeholder.conclusion.text)
        #{argument.conclusion.text}
    h6.digest
      b sha1 
      code.sha1(title=argument.objectRecord())= argument.sha1()
    button(type="submit") Create!
