!!!
html
  head
    meta(charset="utf-8")
    title #{title ? title + ' | ' + siteName : siteName}
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/widgets/css/argumenta.css')
  body.argumenta
    div.wrapper
      div.intro
        canvas#stars
        div.tagline-container
          h1.tagline Social Argument Collaboration
          h2.audience for Skeptical Minds
      div.header
        a.header-logo(href="/")= siteName
        - if (username)
          ul.nav-logout
            li Logged in as 
                a(href="/#{username}") #{username}
                |  (
                a(href="/logout") Sign out
                | )
        - else
          ul.nav-login
            li
              a(href="/login") Sign in
              |  or 
              a(href="/join") Join now!
      div.toolbar
        a.button(href="/arguments/new") New Argument
      div.two-columns
        div.main.column
          block content
        div.sidebar-widget
          block sidebar
            div.search-widget
      div.notifications
        each message in messages
          div.info= "Info: " + message
        each error in errors
          div.error= "Error: " + error
    block scripts
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js")
      script(src="/javascripts/autosize/jquery.autosize.js")
      script(src="/javascripts/charcount/jquery.charcount.js")
      script(src="/javascripts/objects.js")
      script(src="/javascripts/audience.js")
      script.
        (function () {
          var canvas = document.getElementById('stars');
          var context = canvas.getContext('2d');
          var h = canvas.height = $(canvas).height();
          var w = canvas.width = $(canvas).width();

          var alpha, x, y;
          for (var i = 0; i < 200; i++) {
            x = Math.floor(Math.random() * w);
            y = Math.floor(Math.random() * h);
            alpha = Math.random();
            context.fillStyle = 'rgba(255, 255, 255, ' + alpha + ' )';
            context.fillRect(x, y, 2, 2);
          }
        })();
      script.
        var jquery = $.noConflict();
        var browserify = { require: require };
        var require = undefined;

        window.ARGUMENTA_CONFIG = {
          baseUrl:    "#{baseUrl}",
          widgetsUrl: "#{baseUrl + '/widgets'}"
        };
      script(src='/widgets/js/require.js', data-main='/widgets/js/main')
