!!!
html
  head
    meta(charset="utf-8")
    title #{title ? title + ' | ' + siteName : siteName}
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/widgets/css/argumenta.css')
  body.argumenta
    div.wrapper
      include ./partials/intro
      div.header
        a.header-logo(href="/")= siteName
        div.nav
          if username
            span Logged in as 
                a(href="/#{username}") #{username}
                |  (
                a(href="/logout") Sign out
                | )
          else
            span
              a.nav-login(href="/login") Sign in
              |  or 
              a.nav-join(href="/join") Join now!
      div.toolbar
        a.new-argument.button(href="/arguments/new") New Argument
        a.new-proposition.button(href="/propositions/new") New Proposition
      div.two-columns
        div.main.column
          block content
        div.sidebar-widget
          block sidebar
            div.search-widget
      div.notifications
        each message in messages
          div.info= "Info: " + message
        each error in errors
          div.error= "Error: " + error
      div.footer
        a(href="https://twitter.com/ArgumentaIO") Twitter
        a(href="https://github.com/argumenta/argumenta") GitHub
        a(href="https://github.com/argumenta/argumenta/blob/master/doc/README.API.markdown") API
        a(href="http://blog.argumenta.io") Blog
      include ./partials/modals
    block scripts
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js")
      script(src="/javascripts/autosize/jquery.autosize.js")
      script(src="/javascripts/charcount/jquery.charcount.js")
      script(src="/javascripts/objects.js")
      script(src="/javascripts/audience.js")
      script(src="/javascripts/intro.js")
      script.
        var jquery = $.noConflict();
        var browserify = { require: require };
        var require = undefined;

        window.ARGUMENTA_CONFIG = {
          baseUrl:    "#{baseUrl}",
          widgetsUrl: "#{baseUrl + '/widgets'}",
          onLoad: function() {
            jquery('.footer').delay(300).show(50);
          }
        };
      script(src='/widgets/js/require.js', data-main='/widgets/js/main')
