extends ../layout
block content
  .title-pane.center
    h1
      img.avatar(src="https://secure.gravatar.com/avatar/#{user.gravatarId}?rating=pg&default=identicon")
      div
        b User
        |  | 
        a(href="/#{user.username}")= user.username
  h2.title-pane.center Publications &amp; Activity
  .content-pane
    if user.publications
      for publication in user.publications
        if publication.title
          - var argument = publication
          - var commit = publication.commit
          include ../partials/argument
        if publication.text
          - var proposition = publication
          - var commit = publication.commit
          include ../partials/proposition
    else
      if username == user.username
        .content-panel
          p
            a(href="/arguments/new") Create your first argument!
      .content-panel
        p
          a(href="/#{user.username}") #{user.username}
          |  hasn't published anything yet.
    .content-panel
      p
        a(href="/#{user.username}") #{user.username}
        |  joined on #{user.joinDate.toISOString()}.
