extends ../index

block content
  h2.title-pane
    b Argument Repo
    br
    a(href="/#{repo.user.username}", title="User") #{repo.user.username}
    |  / 
    a(href="/#{repo.user.username}/#{encodeURIComponent(repo.reponame)}", title="Repo") #{repo.reponame}
  .content-pane
    - var argument = repo.target;
    - var commit = repo.commit;
    include ../partials/argument
